<form [formGroup]="frm" novalidate>
    <h1>Sign Up</h1>
    <mat-form-field>
        <input matInput placeholder="Pseudo" [formControl]="ctlPseudo" required appSetFocus>
        <mat-error class="float-right" *ngIf="ctlPseudo.hasError('required')">Required</mat-error>
        <mat-error class="float-right" *ngIf="ctlPseudo.hasError('minlength')">Minimum length is
            {{ctlPseudo.errors['minlength'].requiredLength}}</mat-error>
        <mat-error class="float-right" *ngIf="ctlPseudo.hasError('pseudoUsed')">This pseudo is not available</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [formControl]="ctlEmail" required >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="FirstName" [formControl]="ctlFirstName">
    </mat-form-field>
    <div *ngIf="frm.errors">
        <mat-error class="float-right" *ngIf="frm.hasError('firstnameRequired')">FirstName Required</mat-error>
    </div>

    <mat-form-field>
        <input matInput placeholder="LastName" [formControl]="ctlLastName" >
    </mat-form-field>
    <div *ngIf="frm.errors">
        <mat-error class="float-left" *ngIf="frm.hasError('lastnameRequired')">Lastname Required</mat-error>
    </div>
    <mat-form-field>
        <input matInput placeholder="BirthDate" [formControl]="ctlBirthDate" type="date">
    </mat-form-field>


    <mat-form-field>
        <input type="password" matInput placeholder="Password" [formControl]="ctlPassword" required autocomplete="new-password">
        <mat-error class="float-right" *ngIf="ctlPassword.hasError('required')">Required</mat-error>
        <mat-error class="float-right" *ngIf="ctlPassword.hasError('minlength')">Minimum length is
            {{ctlPassword.errors['minlength'].requiredLength}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="password" matInput placeholder="Confirm Password" [formControl]="ctlPasswordConfirm" required>
        <mat-error class="float-right" *ngIf="ctlPasswordConfirm.hasError('required')">Required</mat-error>
        <mat-error class="float-right" *ngIf="ctlPasswordConfirm.hasError('minlength')">Minimum length is
            {{ctlPasswordConfirm.errors['minlength'].requiredLength}}</mat-error>
    </mat-form-field>
    <div *ngIf="frm.errors && ctlPasswordConfirm.dirty && ctlPasswordConfirm.valid">
        <mat-error class="float-left" *ngIf="frm.hasError('passwordNotConfirmed')">The passwords don't match</mat-error>
    </div>
    <div>
        <button mat-stroked-button (click)="signup()" [disabled]="frm.invalid">Sign Up</button>
    </div>
</form>
