<div class="row">
    <div class="col-sm-12">
        <h1>Users</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>I found the following user(s):</h3>
    </div>
</div>
<div *ngIf="users.length > 0" class="row">
    <div class="col-sm-12">
        <ul *ngFor="let user of users">
            <li>Username: {{user.pseudo}}</li>
            <li>Email: {{user.email}}</li>
            <li>Fullname: {{user.firstName}} {{user.lastName}}</li>
            <li>Birthdate: {{user.birthDate}}</li>
            <li>Reputation: {{user.reputation}}</li>
        </ul>
        <h4 *ngIf="users.length == 0">Nobody...</h4>
    </div>
</div>