<form id="frm" [formGroup]="frm" novalidate>
    <h1>{{(!isNew ? 'Edit existing' : 'Add a new') + ' comment'}}</h1>
    <div>
        <mat-form-field>
            <simplemde matInput [formControl]="ctlBody"
                [options]="{ toolbar: ['bold', 'italic', 'heading', '|', 'quote'] }" required></simplemde>
            <input type="text" matInput [formControl]="ctlBody" hidden>
            <mat-error class="float-right" *ngIf="ctlBody.hasError('required')">Required</mat-error>
            <mat-error class="float-right" *ngIf="ctlBody.hasError('minlength')">Minimum length is
                {{ctlBody.errors['minlength'].requiredLength}}</mat-error>
        </mat-form-field>
        <div *ngIf="frm.errors">
        </div>
    </div>
    <div class="footer">
        <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending"
            (click)="update()">{{!isNew ? 'Update' : 'Add'}}</button>
        <button type="reset" mat-button (click)="cancel()">Cancel</button>
    </div>
</form>