<form id="frm" [formGroup]="frm" novalidate>
    <h1>{{(!isNew ? 'Edit existing' : 'Add a new') + (isAnswer ? ' answer' : ' question')}}</h1>
    <div>
        <mat-form-field *ngIf="!isAnswer"> 
            <input matInput placeholder="Title" [formControl]="ctlTitle"
                required appSetFocus>
            <mat-error class="float-right" *ngIf="ctlTitle.hasError('required')">Required</mat-error>
            <mat-error class="float-right" *ngIf="ctlTitle.hasError('minlength')">Minimum length is
                {{ctlTitle.errors['minlength'].requiredLength}}</mat-error>
            <mat-error class="float-right" *ngIf="ctlTitle.hasError('maxlength')">Maximum length is
                {{ctlTitle.errors['maxlength'].requiredLength}}</mat-error>
            <mat-error class="float-right" *ngIf="ctlTitle.hasError('pseudoUsed')">This title is not available
            </mat-error>
            <!-- <mat-error class="float-right" *ngIf="ctlPseudo.hasError('pattern')">(chars, numbs, _ or .)</mat-error> -->
            <!-- <mat-error class="float-right" *ngIf="ctlPseudo.hasError('forbiddenValue')">Forbidden value '@'</mat-error> -->
        </mat-form-field>

        <mat-form-field>
            <simplemde matInput [formControl]="ctlBody"
                [options]="{ toolbar: ['bold', 'italic', 'heading', '|', 'quote'] }" required></simplemde>
            <input type="text" matInput [formControl]="ctlBody" hidden>
            <mat-error class="float-right" *ngIf="ctlBody.hasError('required')">Required</mat-error>
            <mat-error class="float-right" *ngIf="ctlBody.hasError('minlength')">Minimum length is
                {{ctlBody.errors['minlength'].requiredLength}}</mat-error>
        </mat-form-field>
        <div *ngIf="frm.errors">
        </div>
    </div>
    <div class="footer">
        <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending"
            (click)="update()">{{!isNew ? 'Update' : 'Add'}}</button>
        <button type="reset" mat-button (click)="cancel()">Cancel</button>
    </div>
</form>