.form .form {
    margin-top: 15px;
}
* {
    box-sizing: border-box;
}
.phone-container {
    margin-top: 15px;
    display: inline-grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
}
.add {
    height: 40px;
}
.delete {
    display: grid;
    justify-items: center;
}
.picture-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    margin: 10px;
}
.footer {
    display: grid;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: auto auto;
    margin-top: 30px;
}
