<form [formGroup]="frmGp" novalidate>
    <h1>Ask your question</h1>

    <mat-form-field>
        <input matInput placeholder="Title" [formControl]="ctlTitle" required appSetFocus>
        <mat-error class="float-right" *ngIf="ctlTitle.hasError('required')">Required</mat-error>
        <mat-error class="float-right" *ngIf="ctlTitle.hasError('minlength')">Minimum length is
            {{ctlTitle.errors['minlength'].requiredLength}}</mat-error>
        <mat-error class="float-right" *ngIf="ctlTitle.hasError('maxlength')">Maximum length is
            {{ctlTitle.errors['maxlength'].requiredLength}}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <label for="simple">
            <h4>Body</h4>
        </label>
        <simplemde name="simple" matInput [formControl]="ctlBody" required></simplemde>
        <input type="text" matInput [formControl]="ctlBody" hidden>
        <mat-error class="float-right" *ngIf="ctlBody.hasError('required')">Required</mat-error>
        <mat-error class="float-right" *ngIf="ctlBody.hasError('minlength')">Minimum length is
            {{ctlBody.errors['minlength'].requiredLength}}</mat-error>
        <mat-error class="float-right" *ngIf="ctlBody.hasError('maxlength')">Maximum length is
            {{ctlBody.errors['maxlength'].requiredLength}}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select [formControl]="ctlTagSelect" multiple placeholder="Select Tag(s)">
            <mat-select-trigger>
                {{ctlTagSelect.value ? ctlTagSelect.value[0] : ''}}
                <span *ngIf="ctlTagSelect.value?.length > 1">
                    (+{{ctlTagSelect.value.length - 1}} {{ctlTagSelect.value?.length === 2 ? 'other' : 'others'}})
                </span>
            </mat-select-trigger>
            <mat-option *ngFor="let tag of tags" [value]="tag.name">{{tag.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button mat-stroked-button (click)="create()" [disabled]="frmGp.invalid">Create it!</button>
    </div>
</form>