<div class="row">
  <div class="col-sm-12">
    <mat-form-field>
      <input matInput (keyup)="filterChanged($event.target.value)" [value]="filter" placeholder="Filter" appSetFocus>
    </mat-form-field>

    <div class="col-12 btnAskQuestion">
      <button mat-raised-button color='primary' [routerLink]='["/create-post"]'>Ask question</button>
      <!-- <button mat-raised-button color='primary' (click)="create()">Ask question</button> -->

      <mat-button-toggle-group [(value)]="selectedValue" class="toggleBtn">
        <mat-button-toggle *ngFor="let item of toggleBtnOptions" (change)="selectionChanged(item)" [value]="item">
          {{item}}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <br>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vote </th>
          <td mat-cell *matCellDef="let row"> {{row.score}} </td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.timestamp.substring(0,10)}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td mat-cell *matCellDef="let row"> {{row.title}} </td>
        </ng-container>

        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
          <td mat-cell *matCellDef="let row">
            <!-- <p class="body" markdown>{{row.body.substring(0,150)}} ...</p> -->

            <mat-chip-list>
              <mat-chip *ngFor="let tag of row.tags">{{tag.name}}</mat-chip>
              <p *ngIf="row.tags.length == 0">No tags...</p>
            </mat-chip-list>



          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row">
            <button class="btnDetails" mat-button color="primary" (click)="showDetail(row)">
              <b>Details</b>
              <mat-icon>play_arrow</mat-icon>
            </button>

            <button class="btnDelete" mat-button color="primary" (click)="delete(row)">
                <mat-icon>delete</mat-icon>
              </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[3, 5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
<div class="row mt-3">

</div>