table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
th.mat-column-actions {
    width: 110px;
}
.btnDetails {
    margin-bottom: 20px;
    float: right;
}
.btnAskQuestion {
    margin-top: 20px;
    margin-bottom: 20px;
}