table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
th.mat-column-date {
    width: 110px;
}
th.mat-column-title {
    width: 110px;
}
th.mat-column-body {
    width: 500px;
}
th.mat-column-action, th.mat-column-date {
    text-align: center;
}
td {
    padding: 100px;
}

.toggleBtn {
    float: right;
}

.btnDetails {
    float: right;
}
.btnDelete {
    float: right;
}
.btnAskQuestion {
    margin-top: 20px;
    margin-bottom: 20px;
}