<div class="title">
    <div class="reputation">
        <p class="score"><b>{{score}}</b></p>
        <p>reputation</p>
    </div>
    <h3>{{post.title}}</h3>
    <p>Author: {{author}}</p>
</div>
<br>

<div >
    <p markdown>{{post.body}}</p>
</div>

<div>
    <mat-chip-list>
        <mat-chip *ngFor="let tag of post.tags">{{tag}}</mat-chip>
    </mat-chip-list>
    <!-- <p>{{post.tags}}</p> -->
</div>

<div>
    <ul>
        <li *ngFor="let answer of answers">{{answer.body}}</li>
    </ul>
    
    <div>
        <ul>
            <li *ngFor="let cmt of post.comments">{{cmt}}</li>
        </ul>
    </div>
</div>