.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
    padding-bottom: 70px;
}
.reputation {
    text-align: center;
    float: left;
    margin-right: 20px;
    line-height: 35px;
}
.score {
    font-size: 80px;
}
