<div class="title">
    <div class="reputation">
        <p class="score"><b>{{score}}</b></p>
        <p>reputation</p>
        <button mat-icon-button tabindex="-1">
            <mat-icon (click)="edit(post)">edit</mat-icon>
        </button>

        <button mat-icon-button tabindex="-1">
            <mat-icon (click)="delete(post)">delete</mat-icon>
        </button>
    </div>
    <h3>{{post.title}}</h3>
    <p>Author: {{author}}</p>

</div>

<div>
    <p markdown>{{post.body}}</p>

</div>

<div>
    <mat-chip-list>
        <mat-chip *ngFor="let tag of post.tags">{{tag.name}}</mat-chip>
    </mat-chip-list>
</div>

<div class="cmts">
    <ul>
        <li *ngFor="let comment of post.comments" markdown>{{comment.body}}</li>
    </ul>
    <p *ngIf="comments?.length == 0">No comments...</p>
</div>

<div class="answers">
    <ul *ngFor="let answer of answers">

        <li class="answer" markdown>{{answer.body}}</li>
        <button mat-icon-button tabindex="-1">
            <mat-icon (click)="edit(answer)">edit</mat-icon>
        </button>
        <button mat-icon-button tabindex="-1">
            <mat-icon (click)="delete(answer)">delete</mat-icon>
        </button>
        <p>Author: {{answer.author}}</p>
        <ul class="cmts">
            <li *ngFor="let comment of answer.comments" markdown>{{comment.body}}</li>
            <p *ngIf="answer.comments?.length == 0">No comments...</p>
        </ul>
        <!-- <form [formGroup]="frmComment" novalidate>
            <mat-form-field>
                <label for="simple">
                    <h4>Comment</h4>
                </label>
                <simplemde name="simple" matInput [formControl]="ctlComment"
                    [options]="{ toolbar: ['bold', 'italic', 'heading', '|', 'quote'] }" required></simplemde>
                <input type="text" matInput [formControl]="ctlComment" hidden>
            </mat-form-field>
            <div>
                <button mat-stroked-button (click)="reply()" [disabled]="frm.invalid">Create it!</button>
            </div>
        </form> -->
    </ul>
</div>

<form [formGroup]="frm" novalidate>
    <h1>Answer this question: </h1>
    <mat-form-field>
        <label for="simple">
            <h4>Reply</h4>
        </label>
        <simplemde name="simple" matInput [formControl]="ctlReply"
            [options]="{ toolbar: ['bold', 'italic', 'heading', '|', 'quote'] }" required></simplemde>
        <input type="text" matInput [formControl]="ctlReply" hidden>
        <!-- <mat-error class="float-right" *ngIf="ctlReply.hasError('required')">Required</mat-error> -->
    </mat-form-field>
    <div>
        <button mat-stroked-button (click)="reply()" [disabled]="frm.invalid">Create it!</button>
    </div>
</form>