.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 70px;
    border-bottom: 1px solid silver;
    padding-bottom: 70px;
}
.reputation {
    text-align: center;
    float: left;
    margin-right: 20px;
    line-height: 35px;
}
.score {
    font-size: 80px;
}
li {
    
    list-style: none;
}
.cmts {
    font-size: 12px;
    /* float: right; */
    text-align: right;
    margin-top: 20px;
}
.answer {
    display: block;
    padding-top: 15px;    
    border-bottom: 1px solid silver;
    padding-bottom: 15px;
}
.answers {
    padding-top: 70px;
}
.acceptedAnswerIcon {
    font-size: 60px; 
    margin-left: 10px;
    margin-right: 10px;
    color: green;
    background-color: white;
}

form {
    width: 100%;
    display: grid;
    grid-row-gap: 10px;
}
