<div class="title">
    <div class="reputation">
        <p class="score"><b>{{post.score}}</b></p>

        <div class="vote">
            <button mat-icon-button tabindex="-1" [disabled]="post.alreadyVotedUp">
                <mat-icon (click)="voteUp(post)">keyboard_arrow_up</mat-icon>
            </button>

            <button mat-icon-button tabindex="-1" [disabled]="!post.undoableVote">
                <mat-icon style="margin: auto; font-size: 20px;" (click)="voteUndo(post)">undo</mat-icon>
            </button>

            <button mat-icon-button tabindex="-1" [disabled]="post.alreadyVotedDown">
                <mat-icon (click)="voteDown(post)">keyboard_arrow_down</mat-icon>
            </button>
        </div>
    </div>

    <h3>{{post.title}}</h3>
    <p style="text-align: right;"> by: <b>{{author}}</b> </p>
</div>

<button mat-icon-button tabindex="-1">
    <mat-icon (click)="edit(post)">edit</mat-icon>
</button>

<div>
    <p markdown>{{post.body}}</p>
</div>

<div>
    <mat-chip-list>
        <mat-chip *ngFor="let tag of post.tags">{{tag.name}}</mat-chip>
    </mat-chip-list>
</div>

<div class="cmts">
    <ul>
        <li *ngFor="let comment of post.comments" markdown>{{comment.body}}</li>
    </ul>
    <p *ngIf="comments?.length == 0">No comments...</p>
</div>

<!-- <div class="accept">
    <p style="text-align: right;"> Accepted answer : <b>{{acceptedAnswer.body}}</b> </p>
    <p style="text-align: right;"> Accepted answer authorID : <b>{{acceptedAnswer.authorId}}</b> </p>
</div> -->

<div class="answers">
    <ul *ngFor="let answer of answers">
     
        <p class="score"><b>{{answer.score}}</b></p>

        <div class="vote">
            <button mat-icon-button tabindex="-1" [disabled]="answer.alreadyVotedUp">
                <mat-icon (click)="voteUp(answer)">keyboard_arrow_up</mat-icon>
            </button>

            <button mat-icon-button tabindex="-1" [disabled]="!answer.undoableVote">
                <mat-icon style="margin: auto; font-size: 20px;" (click)="voteUndo(answer)">undo</mat-icon>
            </button>

            <button mat-icon-button tabindex="-1" [disabled]="answer.alreadyVotedDown">
                <mat-icon (click)="voteDown(answer)">keyboard_arrow_down</mat-icon>
            </button>
        </div>

        <div class="answer">
            <mat-icon class="acceptedAnswerIcon" *ngIf="post.acceptedAnswerId == answer.id">
                check
            </mat-icon>
 
            <li markdown>{{answer.body}}</li>
            <p style="text-align: right;"> by: <b>{{answer.author}}</b> </p>
        </div>

        <button mat-icon-button tabindex="-1">
            <mat-icon color="primary" (click)="edit(answer)">edit</mat-icon>
        </button>

        <button mat-icon-button tabindex="-1">
            <mat-icon color="primary" (click)="delete(answer)">delete</mat-icon>
        </button>

        <button mat-icon-button tabindex="-1">
            <mat-icon color="primary" (click)="accept(answer)">check</mat-icon>
        </button>

        <ul class="cmts">
            <li *ngFor="let comment of answer.comments" markdown>{{comment.body}}</li>
            <p *ngIf="answer.comments?.length == 0">No comments...</p>
        </ul>
        <!-- <form [formGroup]="frmComment" novalidate>
            <mat-form-field>
                <label for="simple">
                    <h4>Comment</h4>
                </label>
                <simplemde name="simple" matInput [formControl]="ctlComment"
                    [options]="{ toolbar: ['bold', 'italic', 'heading', '|', 'quote'] }" required></simplemde>
                <input type="text" matInput [formControl]="ctlComment" hidden>
            </mat-form-field>
            <div>
                <button mat-stroked-button (click)="reply()" [disabled]="frm.invalid">Create it!</button>
            </div>
        </form> -->
    </ul>
</div>

<form [formGroup]="frm" novalidate>
    <h1>Answer this question: </h1>
    <mat-form-field>
        <label for="simple">
            <h4>Reply</h4>
        </label>
        <simplemde name="simple" matInput [formControl]="ctlReply"
            [options]="{ toolbar: ['bold', 'italic', 'heading', '|', 'quote'] }" required></simplemde>
        <input type="text" matInput [formControl]="ctlReply" hidden>
        <!-- <mat-error class="float-right" *ngIf="ctlReply.hasError('required')">Required</mat-error> -->
    </mat-form-field>
    <div>
        <button mat-stroked-button (click)="reply()" [disabled]="frm.invalid">Create it!</button>
    </div>
</form>